*{
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				scroll-behavior: smooth;
}
.About{
				width: 100%;
				height: 600px;
				background: #05253a;
}
/*-------------------menu------------------------*/
.menu-bar{
				width: 100%;
				height: 60px;
				position: fixed;
}
.logo{
				width: 100%;
				height: 100%;
				background: url('../../img/logo.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 115% 115%;
}

header{
				position: relative;
				width: 100%;
				min-height: 66px;
				padding: 10 10px;
				display: flex;
				justify-content: space-around;
				align-items: center;
}
header ul{
				position: relative;
}
header ul li{
				list-style: none;
				position: relative;
				float: left;
}
header ul li a{
				text-decoration: none;
				color: #ffff;
				font-size: 1.1rem;
				padding: 10px 25px;
				display: flex;
				justify-content: space-between;
}
header ul li a:hover{
				background: #2b93e3;
}


header ul li ul{
				position: absolute;
				left: 0;
				width: 200px;
				background: #445964;
				display: none;
}
header ul li:hover > ul{
				display: block;
}
header ul li ul li{
				position: relative;
				width: 100%;
				border: 1px solid rgba(0,0,0,0.2);
}
header ul li ul li ul{
				top: 0;
				left: 200px;
}

.search-box{
				width: 250px;
				height: 30px;
				color: white;
				background: #05253a;
				border: 1px solid #ff9d00;
				padding: 5px;
				position: relative;
				right: -60%;
				top: 10px;				
}
.login-icon {
     width: 50px;
     height: 50px;
     color: white;
     position: relative;
}



/*-------------About us containt start-------------------*/

.About-containt{
				width: 100%;
				height: 400px;
				padding-top:100px;
				background: #05253a;
}
}

.slider{
				width: 100%;
				height: 350px;
				animation: anim 30s infinite;
}
@keyframes anim{
				0%{
								background: url('../../img/1.png');
								background-size: 104% 135%;
								background-repeat: no-repeat;
								background-position: center;
				}
				25%{
								background: url('../../img/1.png');
								background-size: 104% 135%;
								background-repeat: no-repeat;
								background-position: center;
				}
				50%{
								background: url('../../img/2.png');
								background-size: 104% 135%;
								background-repeat: no-repeat;
								background-position: center;
				}
				75%{
								background: url('../../img/3.png');
								background-size: 104% 135%;
								background-repeat: no-repeat;
								background-position: center;
				}
				100%{
								background: url('../../img/4.jpg');
								background-size: 104% 135%;
								background-repeat: no-repeat;
								background-position: center;
				}
}



.containt-text{
				width: 100%;
				height: 200px;
				padding-top: 50px;
}

.containt-text h1{
				color: white;
				display: flex;
				justify-content: space-around;
				font-size: 35px;
				padding-top: 20px;
}
.containt-text2{
			width: 65%;
				height: 70px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				position: relative;
				top: -1px;
				left: 17.5%;
}

.containt-text2 h2{
				color: #ffb200;
				font-size: 20px;
				padding-top: 10px;
}

.containt-text2 h3{
				color: #ffb200;
				font-size: 20px;
				padding-top: 10px;
}
