*{
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				scroll-behavior: smooth;
}
.Home{
				width: 100%;
				height: 600px;
				background: #05253a;
}
/*-------------------menu------------------------*/
.menu-bar{
				width: 100%;
				height: 60px;
				position: fixed;
}
.logo{
				width: 100%;
				height: 100%;
				background: url('../../img/logo.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 115% 115%;
}

header{
				position: relative;
				width: 100%;
				min-height: 66px;
				padding: 10 10px;
				display: flex;
				justify-content: space-around;
				align-items: center;
}
header ul{
				position: relative;
}
header ul li{
				list-style: none;
				position: relative;
				float: left;
}
header ul li a{
				text-decoration: none;
				color: #ffff;
				font-size: 1.1rem;
				padding: 10px 25px;
				display: flex;
				justify-content: space-between;
}
header ul li a:hover{
				background: #2b93e3;
}


header ul li ul{
				position: absolute;
				left: 0;
				width: 200px;
				background: #445964;
				display: none;
}
header ul li:hover > ul{
				display: block;
}
header ul li ul li{
				position: relative;
				width: 100%;
				border: 1px solid rgba(0,0,0,0.2);
}
header ul li ul li ul{
				top: 0;
				left: 200px;
}

.search-box{
				width: 250px;
				height: 30px;
				color: white;
				background: #05253a;
				border: 1px solid #ff9d00;
				padding: 5px;
				position: relative;
				right: -60%;
				top: 10px;				
}
.login-icon {
     width: 50px;
     height: 50px;
     color: white;
     position: relative;
}


/*----------------Blog are----------------------------*/
.Blog{
				width: 100%;
				height: 1000px;
				/* border: 1px solid #ffcaaa; */
				background: #05253a;
}
.Blog_img{
				width: 60%;
				height: 70%;
				background: url('../img/3.jpg');
		  background-size: 100% 100%;
				background-repeat: no-repeat;
}
.Blog_containt_text_box{
				width: 85%;
				height: 70%;
				color: white;
}


.Blog_img2{
				width: 60%;
				height: 70%;
				background: url('../img/2.jpg');
		  background-size: 100% 100%;
				background-repeat: no-repeat;
}
.Blog2_containt_text_box{
				width: 85%;
				height: 70%;
				color: white;
				margin:20px 0px 0px 70px;
}



.Blog_img3{
				width: 60%;
				height: 70%;
				background: url('../img/1.jpg');
		  background-size: 100% 100%;
				background-repeat: no-repeat;
}
.Blog_containt_text_box3{
				width: 85%;
				height: 70%;
				color: white;
}







